owd-window-top,
owd-window-content,
owd-window-title,
owd-window-buttons {
    display : block;
}

owd-window[data-active="true"] {
    .opacity(1);
}

owd-window {
    .opacity(0.95);
    position : absolute;
    border-collapse: collapse;
    top : 0px;
    left : 0px;
    overflow : visible;
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}

owd-window[data-bare="true"] {
    .opacity(1);
}

owd-window-top{
    padding: 5px 10px;
    display: table-row;
    background: #efefef;
    margin-top: -30px;
    .border-radius(5px, 0, 0, 5px);
}
owd-window-icon{
    width: 20px;
    float: left;
}
owd-window-title {
    line-height : 20px;
    display : block;
    overflow: hidden;
    text-align: center;
    cursor: default;
}
owd-window-buttons {
    float: right;
    cursor: pointer;
}
owd-window-button-close {
    display: inline-block;
    width: 16px;
    height: 18px;
    background: url('/res/close_focused_normal.png') no-repeat center center;
}
owd-window-button-close:hover {
    background: url('/res/close_focused_prelight.png') no-repeat center center;
}
owd-window-button-close:active {
    background: url('/res/close_focused_pressed.png') no-repeat center center;
}
owd-window-button-maximize {
    display: inline-block;
    width: 16px;
    height: 18px;
    cursor: pointer;
    background: url('/res/maximize_focused_normal.png') no-repeat center center;
}
owd-window-button-maximize:hover {
    background: url('/res/maximize_focused_prelight.png') no-repeat center center;
}
owd-window-button-maximize:active {
    background: url('/res/maximize_focused_pressed.png') no-repeat center center;
}
owd-window-content{
    height: 100%;
    cursor: default;
    overflow: hidden;
    background: white;
}

owd-window-resize{
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: -8px;
    right: -8px;
    bottom: -8px;
    cursor: move;
}