owd-menubar {
	.user-select(none);
	height: 36px;
	width: 100%;
	background: #101010;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: visible;
	z-index: 2;
	margin: 0;
	padding: 0 10px;
	color: white;
	
	container {
		display: table-row;
	}
	
	search {
		display: table-cell;
		vertical-align: middle;
		width: 50px;
		cursor: pointer;
		position: relative;
		icon {
			display: block;
		}
		
		box {
			.rounded;
			.box-shadow(0 1px 2px #999);	
			display: none;
			background: white;
			padding: 10px;
			position: fixed;
			width: 300px;
			height: 300px;
			left: 20px;
			top: 40px;
			cursor: auto;
			input {
				font-size: 14px;
			    line-height: 1.2;
			    padding: 5px 4px;
				width: 280px;
			}
			owdapps {
				display: table;
				border-collapse: collapse;
				margin: 20px 0;
				color: #333;
				width: 280px;
				
				owdapp {
					display: table-row;
					border-bottom: 1px solid #e4e3e5;
					padding: 5px 0;
					owdapp-img {
						display: table-cell;
						width: 52px;
						padding: 5px 0;
						img {
							height: 48px;
							width: 48px;
						}
					}
					owdapp-name, owdapp-charge, owdapp-ops {
						display: table-cell;
						vertical-align: middle;
					}
					
					owdapp-charge, owdapp-ops {
						width: 40px;
						text-align: center;
					}
				}
			}
		}
	}
	
	procs {
		display: table-cell;
		vertical-align: middle;
		
		proc {
			cursor: pointer;
			font-family: Karla, Sans-serif;		
			margin-right: 20px;
			display: inline-block;
			height: 100%;
			padding-top: 5px;
		
			img {
				height: 16px;
				width: 16px;
				margin-right: 5px;
				vertical-align: middle;		
			}
		}
	}
	
	time {
		width: 50px;
		display: table-cell;
		vertical-align: middle;
		font-family: Monospace, Courier New;
	}
}